body {
    background-color: #1A0B2E;
    margin: 0;
    width: 100%;
    height: 100vh;
    color: #CCD6F6;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-family: 'Preahvihear', sans-serif; */
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #1F1330;
    width: 100%;
    padding: 1em 0;
    position: absolute;
}

.navbar img {
    height: 80px;
    margin-right: 20px;
    animation: rotate 5s infinite;
}
@keyframes rotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(3600deg);}
}



.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}
.navbar ul li a{
    margin: 0 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Preahvihear', sans-serif;
}

.navbar ul li a:hover {
    color: #7127BA;
}

.mainhome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #1F1330; */
    width: 100%;
    height: 100%;
    padding: 6em;
    box-sizing: border-box;
    margin-top:0; 
    left: 0;
    padding-left: 30em;
    padding-top: 10px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    margin-left: -170px;
    font-family: 'Preahvihear', sans-serif;
    
}

.home h1 {
    margin: 9px 0; 
   
}
.home p {
    margin: 2px 0;
}

#name {
    font-size: 32px;
}

#name span, #jde span {
    color: #7127BA;
}
#jde{
    font-size:40px ;
    font-weight: lighter;
}
#front{
    font-size: 45px;
    font-weight: 20;
}


.img {
    overflow: hidden;
    width: 580px;
    height: 450px;
    opacity: 0.7;
    border: 4px solid #CCD6F6;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: updown 2s infinite;
    animation-direction: alternate;
    margin-right:400px; 
}

.img img {
    width:100%;
    height:100%;
}

@keyframes updown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}